*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #555555;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 10rem;
    background-color: #1A1A1A;
  }
  nav img {
    cursor: pointer;
    z-index: 99;
  
  }
  nav ul {
    display: flex;
    gap: 5rem;
    align-items: center;
  }
  ul li {
    list-style: none;
  }
  nav ul li a {
    text-decoration: none;
    color: #9F9F9F;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  nav button {
    border: none;
    padding: 0.7rem 1.3rem;
    border-radius: 0.4rem;
    background-color: #004575;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    cursor: pointer;
  }

  .mobile_menu {
      transform: translateY(-100%);
      transition: transform 0.5s ease-in-out;
      z-index: 10;
      position: fixed;
      left: 0;
      width: 100%;
      padding: 10rem 0;
      background-color: #fff; 
  }
  
  .mobile_menu ul{
      flex-direction: column;
      text-align: start;
  }

/* Menu Hamburger */

.nav-container {
    position: relative;
    display: none;
    z-index: 99;
  }
  
  .nav-container .checkbox {
    display: block;
    height: 32px;
    width: 32px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .checkbox{
      position: relative;
  }
  .hamburger-lines{
      position: absolute;
      left: 0;
      top: 0;
  }
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px; 
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

.main_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.littlecontainer{
    width: 60%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #EEEEEE;
    position: relative;
}
.littlecontainer nav{
    width: 95%;
    border-radius: 1rem;
    background-color: #004575;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
   margin-left: 1.75rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 50px 200px 0 200px;
  }
  section img {
    width: 60%;
    height: 400px;
    object-fit: cover;
  }
  section div {
    width: 100%;
  }
  section div h3 {
    font-family: "DM Serif Display", serif;
    font-size: 2rem;
    font-weight: 500;
  }
  
  section div p {
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: justify;
    width: 30rem;
  }
  @media screen and (max-width: 1480px) {
    nav {
      margin: 1.2rem 4rem;
    }

    nav ul {
      gap: 2rem;
    }

  }
  @media screen and (max-width: 1000px) {
    nav {
      margin: 1.2rem 1rem;
    }
    nav .desktop_menu {
      display: none;
    }
    .nav-container {
        display: block;
      }

  }
  @media screen and (max-width: 1480px) {
    nav {
      margin: 1.2rem 4rem;
    }
    section{
      margin: 50px 50px 0 50px;
  
    }
    nav ul {
      gap: 2rem;
    }
    footer{
      padding: 6rem 10rem;
  
    }
  }
  @media screen and (max-width: 1000px) {
    section {
      margin: 50px 10px 0 10px;
    }
    .nav-container {
      display: block;
    }
    nav {
      margin: 1.2rem 1rem;
    }
    nav .desktop_menu {
      display: none;
    }
    .hero h1 {
      font-size: 3rem;
    }
    section{
      flex-direction: column;
    }
    section div {
      padding: 0 2rem;
      width: 100%;
    }
    section img{
      order: 1;
      padding: 0 2rem;
      width: 100%;
  
    }
    .conclusion p{
      margin: 2rem 0 6rem 0;
      padding: 0 2rem;
      width: 100%;
    }
    footer{
      padding: 6rem 4rem;
  
    }
  }
  @media screen and (max-width: 800px) {
      footer{
          flex-direction: column;
          gap: 4rem;
        }
  }